@model IEnumerable<AplicacionConsultorio.ViewModels.PersonasViewModel.ListaDePersonas>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de personas</h1>

<p>
    <a asp-action="Create">Crea una persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        @Html.ActionLink("Editar", "Edit", new { id=item.Id}, new { @class = "btn btn-outline-primary" })
                        @*@Html.ActionLink("Detalles", "Details", new { id=item.Id}, new { @class = "btn btn-outline-primary" })*@
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.Id}, new { @class = "btn btn-outline-primary" })
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>